@* @model IEnumerable<ProjectManagement.Models.Sprints> *@
@inject ApplicationDbContext _context
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
	body {
		font-family: Arial, sans-serif;
		background-color: #f4f4f4;
	}

	.issue {
		background-color: #fff;
		border: 1px solid #ccc;
		padding: 10px;
		margin-bottom: 10px;
		cursor: move;
	}

	.row-content {
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: 10px;
	}

	.epic-item {
		width: 100%;
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 10px;
		margin-bottom: 5px;
	}

	.custom-menu {
		display: none;
		position: absolute;
		background-color: white;
		border: 1px solid #ccc;
		padding: 5px 0;
		z-index: 1000;
	}

	.custom-menu ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.custom-menu ul li {
		padding: 8px 20px;
		cursor: pointer;
	}

	.custom-menu ul li:hover {
		background-color: #f0f0f0;
	}

	.assignee-row {
		display: flex;
		align-items: center;
		padding: 5px;
		cursor: pointer;
	}

	.avatar {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		object-fit: cover;
		margin-right: 10px;
	}

	#contextDelete,
	#contextDeleteEpic,
	#contextMenu {
		--mouse-x: 0;
		--mouse-y: 0;
		display: none;
		position: fixed;
		margin: 0;
		left: 0;
		top: 0;
		transform: translateX(min(var(--mouse-x), calc(100vw - 100%))) translateY(min(var(--mouse-y), calc(100vh - 100%)));
	}
</style>

<div class="body d-flex py-lg-3 py-md-2">
	<div class="container-xxl">
		<div class="row align-items-center">
			<div class="border-0 mb-4">
				<!---->
				<div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
					<h3 class="fw-bold mb-0">Backlog</h3>
					<div class="col-auto d-flex w-sm-100">

						<button type="button" class="btn btn-primary btn-set-task w-sm-100" data-bs-toggle="modal" data-bs-target="#anotherModal">
							<i class="icofont-chart-line-alt me-2 fs-6"></i>Insights
						</button>
					</div>
				</div>
			</div>
		</div> <!-- Row end  -->
		<div class="row-content">
			<div class="mb-4">
				<div id="sprintsContainer">
					@foreach (var item in ViewBag.ProjectSprints as List<Sprints>)
					{
						if (item.Name == "Backlog")
						{
							<div class="card mb-3" data-type="sprint" ondrop="drop(event, 'sprint', '@item.Id')" ondragover="allowDrop(event)" data-sprint-id="@item.Id">
								<div class="card-header py-3 bg-transparent border-bottom-0">
									<div class="row align-items-center">
										<div class="col-sm-8" style="display: flex; align-items: center;">
											<h6 class="mb-0 fw-bold">@item.Name</h6>
										</div>
										<div class="col-sm-4 d-flex align-items-center justify-content-end">
											@{
												var issues = item.Issues ?? new List<Issues>(); ;
												var todoStoryPoints = issues.Where(issue => issue.Status == IssueStatus.Todo).Sum(issue => issue.StoryPoint);
												var inProgressStoryPoints = issues.Where(issue => issue.Status == IssueStatus.InProgress).Sum(issue => issue.StoryPoint);
												var completedStoryPoints = issues.Where(issue => issue.Status == IssueStatus.Completed).Sum(issue => issue.StoryPoint);
											}

											<span class="rounded-circle bg-secondary text-light p-2 me-1" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; background-color:#D8D8D8 !important;">@todoStoryPoints</span>
											<span class="rounded-circle bg-secondary text-light p-2 me-1" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; background-color:#39B5E0 !important;">@inProgressStoryPoints</span>
											<span class="rounded-circle bg-secondary text-light p-2 me-1" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; background-color:#1A5D1A !important;">@completedStoryPoints</span>
											<span>
												<button id="createSprintButton" class="btn btn-primary">Create Sprint</button>
											</span>
										</div>
									</div>
								</div>

								<div>
									@if (item.Issues != null && item.Issues.Any())
									{
										<ul style="padding: 0px;">

											@foreach (var issue in item.Issues)
											{
												<div class="issue d-flex align-items-center justify-content-between" style="border-radius: 5px; margin-left: 4px; margin-right: 4px;" data-issue-id="@issue.Id" id="@issue.Id" draggable="true" ondragstart="drag(event)">
													<div>
														@if (issue.Type == IssueType.Task)
														{
															<span style="display: inline-block; background-color: #1a73e8; padding: 3px; border-radius: 3px;">
																<i class="icofont-book-mark text-white" style="vertical-align: middle;"></i>
															</span>
														}
														else if (issue.Type == IssueType.Bug)
														{
															<span style="display: inline-block; background-color: #dc3545; padding: 3px; border-radius: 3px;">
																<i class="icofont-bug text-white" style="vertical-align: middle;"></i>
															</span>
														}
														else
														{
															<span style="display: inline-block; background-color: #ffc107; padding: 3px; border-radius: 3px;">
																<i class="icofont-ui-messaging text-white" style="vertical-align: middle;"></i>
															</span>
														}

														<span style="margin-left: 8px; cursor: pointer;" onclick="openEditModal('@issue.Id')" oncontextmenu="showContextDelete(event, '@issue.Id')">@issue.Name</span>
													</div>

													<div class="d-flex align-items-center">
														@if (issue.EpicID != null)
														{
															var epic = _context.Epics.FirstOrDefault(e => e.Id == issue.EpicID);
															if (epic != null)
															{
																<span class="badge me-2" style="font-size: 14px; position: relative; background-color: @epic.Color !important;" oncontextmenu="showContextMenu(event, '@issue.Id')">@epic.Name</span>	
															}
														}

														@if (issue.Status == IssueStatus.Todo)
														{
															<span class="badge me-2" style="font-size: 14px; background-color: #D8D8D8 !important;">@issue.Status</span>
														}
														else if (issue.Status == IssueStatus.InProgress)
														{
															<span class="badge bg-primary me-2" style="font-size: 14px; background-color: #39B5E0 !important;">@issue.Status</span>
														}
														else
														{
															<span class="badge bg-primary me-2" style="font-size: 14px; background-color: #1A5D1A !important;">@issue.Status</span>
														}

														<span class="rounded-circle bg-secondary text-light p-2 me-2" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; color: black !important; background-color:#D8D8D8 !important; border-radius: 50%;">
															<span style="font-size: 19px;">@issue.StoryPoint</span>
														</span>

														@if (issue.Priority == Priorities.Lowest)
														{
															<span class="rounded-circle bg-secondary text-light p-2 me-2" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; background-color:white !important; border-radius: 50%; transform: rotate(270deg); color: #0D1282 !important">
																<i class="icofont-curved-double-left" style="font-size: 20px;"></i>
															</span>
														}
														else if (issue.Priority == Priorities.Low)
														{
															<span class="rounded-circle bg-secondary text-light p-2 me-2" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; background-color:white !important; border-radius: 50%; transform: rotate(270deg); color: #0D1282 !important">
																<i class="icofont-curved-left" style="font-size: 20px;"></i>
															</span>
														}
														else if (issue.Priority == Priorities.Medium)
														{
															<span class="rounded-circle bg-secondary text-light p-2 me-2" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; background-color:white !important; border-radius: 50%; color: #F0DE36 !important">
																<i class="icofont-navigation-menu" style="font-size: 20px;"></i>
															</span>

														}
														else if (issue.Priority == Priorities.High)
														{
															<span class="rounded-circle bg-secondary text-light p-2 me-2" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; background-color: white !important; border-radius: 50%; transform: rotate(90deg); color: #D71313 !important">
																<i class="icofont-curved-left" style="font-size: 20px;"></i>
															</span>
														}
														else if (issue.Priority == Priorities.Highest)
														{
															<span class="rounded-circle bg-secondary text-light p-2 me-2" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; background-color: white !important; border-radius: 50%; transform: rotate(90deg); color: #D71313 !important">
																<i class="icofont-curved-double-left" style="font-size: 20px;"></i>
															</span>
														}
														else
														{

														}

														<span class="p-2 me-1">
															@if (issue.AssigneeID == null || issue.Assignee == null)
															{
																<img src="/defaultuser.png" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; border-radius: 50%; object-fit: cover; border-radius: 50%;">
															}
															else
															{
																<img src="@issue.Assignee.Image" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; border-radius: 50%; object-fit: cover; border-radius: 50%;">
															}
														</span>
													</div>
												</div>
											}

											<!-- Menu popup -->
											<div id="contextMenu" class="custom-menu" style="display: none;">
												<ul>
													<li id="unlinkEpic" onclick="handleClick()">Unlink Epic</li>
													<li id="viewDetail">View Detail</li>
												</ul>
											</div>

											<!-- Context delete -->
											<div id="contextDelete" class="custom-menu" style="display: none;">
												<ul>
													<li onclick="confirmDeleteIssue()">Delete Issue</li>
												</ul>
											</div>
										</ul>
									}
									else
									{
										<p class="me-2">No issues found for this sprint</p>
									}
								</div>

								<div class="card-body">
									<form id="issueForm" method="post" asp-area="Admin" asp-controller="Issues" asp-action="Create">
										<div class="input-group">
											<button id="selectedItemButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
												<span id="selectedItem">Task</span>
											</button>
											<ul class="dropdown-menu">
												<li>
													<a class="dropdown-item" href="#" onclick="updateButton('Task')" data-value="Task">
														<span style="display: inline-block; background-color: #1a73e8; padding: 3px; border-radius: 3px;">
															<i class="icofont-book-mark text-white" style="vertical-align: middle;"></i>
														</span> Task
													</a>
												</li>
												<li>
													<a class="dropdown-item" href="#" onclick="updateButton('Bug')" data-value="Bug">
														<span style="display: inline-block; background-color: #dc3545; padding: 3px; border-radius: 3px;">
															<i class="icofont-bug text-white" style="vertical-align: middle;"></i>
														</span> Bug
													</a>
												</li>
												<li>
													<a class="dropdown-item" href="#" onclick="updateButton('User story')" data-value="User story">
														<span style="display: inline-block; background-color: #ffc107; padding: 3px; border-radius: 3px;">
															<i class="icofont-ui-messaging text-white" style="vertical-align: middle;"></i>
														</span> User story
													</a>
												</li>
											</ul>
											<input type="hidden" id="typeInput" name="Type" />
											<input type="text" id="issueInputWrapper" name="Name" class="form-control" placeholder="Enter new issue name" onkeypress="handleKeyPressCreate(event)" />
										</div>
									</form>
								</div>
							</div>
						}
						if (item.Name != "Backlog")
						{
							<div class="card mb-3" data-type="sprint" ondrop="drop(event, 'sprint', '@item.Id')" ondragover="allowDrop(event)" data-sprint-id="@item.Id">
								<div class="card-header py-3 bg-transparent border-bottom-0">
									<div class="row align-items-center">
										<div class="col-sm-8 edit-sprint"
											 style="display: flex; align-items: center; cursor: pointer;"
											 data-id="@item.Id"
											 data-name="@item.Name"
											 data-start-date="@item.StartDate"
											 data-end-date="@item.EndDate">
											<h6 class="mb-0 fw-bold">@item.Name</h6>
											<span style="color: gray; margin-left: 10px;">(@($"{item.StartDate:dd/MM/yyyy} - {item.EndDate:dd/MM/yyyy}"))</span>
										</div>
										<div class="col-sm-4 d-flex align-items-center justify-content-end">
											@{
												var issues = item.Issues;
												var todoStoryPoints = issues.Where(issue => issue.Status == IssueStatus.Todo).Sum(issue => issue.StoryPoint);
												var inProgressStoryPoints = issues.Where(issue => issue.Status == IssueStatus.InProgress).Sum(issue => issue.StoryPoint);
												var completedStoryPoints = issues.Where(issue => issue.Status == IssueStatus.Completed).Sum(issue => issue.StoryPoint);
											}

											<span class="rounded-circle bg-secondary text-light p-2 me-1" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; background-color:#D8D8D8 !important;">@todoStoryPoints</span>
											<span class="rounded-circle bg-secondary text-light p-2 me-1" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; background-color:#39B5E0 !important;">@inProgressStoryPoints</span>
											<span class="rounded-circle bg-secondary text-light p-2 me-1" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; background-color:#1A5D1A !important;">@completedStoryPoints</span>
											<span>
												@if (item.Status == null)
												{
													<button class="btn btn-primary" onclick="startSprint('@item.Id', 'Start')">Start Sprint</button>
												}
												else if (item.Status == SprintStatus.Start)
												{
													<button class="btn btn-primary" onclick="startSprint('@item.Id', 'Complete')">Complete Sprint</button>
												}
												else
												{
													<button class="btn btn-primary">Sprint completed</button>
												}
											</span>
										</div>
									</div>
								</div>

								<div>
									@if (item.Issues != null && item.Issues.Any())
									{
										<ul style="padding: 0px;">

											@foreach (var issue in item.Issues)
											{
												<div class="issue d-flex align-items-center justify-content-between" style="border-radius: 5px; margin-left: 4px; margin-right: 4px;" data-issue-id="@issue.Id" id="@issue.Id" draggable="true" ondragstart="drag(event)">
													<div>
														@if (issue.Type == IssueType.Task)
														{
															<span style="display: inline-block; background-color: #1a73e8; padding: 3px; border-radius: 3px;">
																<i class="icofont-book-mark text-white" style="vertical-align: middle;"></i>
															</span>
														}
														else if (issue.Type == IssueType.Bug)
														{
															<span style="display: inline-block; background-color: #dc3545; padding: 3px; border-radius: 3px;">
																<i class="icofont-bug text-white" style="vertical-align: middle;"></i>
															</span>
														}
														else
														{
															<span style="display: inline-block; background-color: #ffc107; padding: 3px; border-radius: 3px;">
																<i class="icofont-ui-messaging text-white" style="vertical-align: middle;"></i>
															</span>
														}

														<span style="margin-left: 8px; cursor: pointer;" onclick="openEditModal('@issue.Id')" oncontextmenu="showContextDelete(event, '@issue.Id')">@issue.Name</span>
													</div>

													<div class="d-flex align-items-center">
														@if (issue.EpicID != null)
														{
															var epic = _context.Epics.FirstOrDefault(e => e.Id == issue.EpicID);
															if (epic != null)
															{
																<span class="badge me-2" style="font-size: 14px; position: relative; background-color: @epic.Color !important;" oncontextmenu="showContextMenu(event, '@issue.Id')">@epic.Name</span>

																<!-- Menu popup -->
																<div id="contextMenu" class="custom-menu">
																	<ul>
																		<li id="unlinkEpic" onclick="handleClick('@issue.Id')">Unlink Epic</li>
																		<li id="viewDetail">View Detail</li>
																	</ul>
																</div>
															}
														}

														@if (issue.Status == IssueStatus.Todo)
														{
															<span class="badge me-2" style="font-size: 14px; background-color: #D8D8D8 !important;">@issue.Status</span>
														}
														else if (issue.Status == IssueStatus.InProgress)
														{
															<span class="badge bg-primary me-2" style="font-size: 14px; background-color: #39B5E0 !important;">@issue.Status</span>
														}
														else
														{
															<span class="badge bg-primary me-2" style="font-size: 14px; background-color: #1A5D1A !important;">@issue.Status</span>
														}

														<span class="rounded-circle bg-secondary text-light p-2 me-2" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; color: black !important; background-color:#D8D8D8 !important; border-radius: 50%;">
															<span style="font-size: 19px;">@issue.StoryPoint</span>
														</span>

														@if (issue.Priority == Priorities.Lowest)
														{
															<span class="rounded-circle bg-secondary text-light p-2 me-2" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; background-color:white !important; border-radius: 50%; transform: rotate(270deg); color: #0D1282 !important">
																<i class="icofont-curved-double-left" style="font-size: 20px;"></i>
															</span>
														}
														else if (issue.Priority == Priorities.Low)
														{
															<span class="rounded-circle bg-secondary text-light p-2 me-2" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; background-color:white !important; border-radius: 50%; transform: rotate(270deg); color: #0D1282 !important">
																<i class="icofont-curved-left" style="font-size: 20px;"></i>
															</span>
														}
														else if (issue.Priority == Priorities.Medium)
														{
															<span class="rounded-circle bg-secondary text-light p-2 me-2" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; background-color:white !important; border-radius: 50%; color: #F0DE36 !important">
																<i class="icofont-navigation-menu" style="font-size: 20px;"></i>
															</span>

														}
														else if (issue.Priority == Priorities.High)
														{
															<span class="rounded-circle bg-secondary text-light p-2 me-2" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; background-color: white !important; border-radius: 50%; transform: rotate(90deg); color: #D71313 !important">
																<i class="icofont-curved-left" style="font-size: 20px;"></i>
															</span>
														}
														else if (issue.Priority == Priorities.Highest)
														{
															<span class="rounded-circle bg-secondary text-light p-2 me-2" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; background-color: white !important; border-radius: 50%; transform: rotate(90deg); color: #D71313 !important">
																<i class="icofont-curved-double-left" style="font-size: 20px;"></i>
															</span>
														}
														else
														{

														}

														<span class="p-2 me-1">
															@if (issue.AssigneeID == null || issue.Assignee == null)
															{
																<img src="/defaultuser.png" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; border-radius: 50%; object-fit: cover; border-radius: 50%;">
															}
															else
															{
																<img src="@issue.Assignee.Image" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; border-radius: 50%; object-fit: cover; border-radius: 50%;">
															}
														</span>
													</div>
												</div>
											}

											<!-- Context menu -->
											<div id="contextDelete" class="custom-menu" style="display: none;">
												<ul>
													<li onclick="confirmDeleteIssue()">Delete Issue</li>
												</ul>
											</div>
										</ul>
									}
									else
									{
										<p class="me-2">No issues found for this sprint</p>
									}
								</div>
							</div>
						}
					}
				</div>
			</div>

			<div class="">
				<div class="card mb-3">
					<div class="card-header" style="padding: 20px 20px 0px 20px;">
						<h5 class="mb-0 fw-bold">Epics</h5>
					</div>
					<div class="card-body">
						<div id="epicsContainer">
							@foreach (var item in ViewBag.ProjectEpics as List<Epics>)
							{
								<div class="epic-item" style="color: white; background-color: @item.Color; cursor: pointer;"
									 onclick="openEditEpicModal('@item.Id')" oncontextmenu="showContextDeleteEpic(event, '@item.Id')"
									 data-type="epic" ondrop="drop(event, 'epic', '@item.Id')" ondragover="allowDrop(event)" data-epic-id="@item.Id">
									@item.Name
								</div>
							}
						</div>
						<!-- Context menu -->
						<div id="contextDeleteEpic" class="custom-menu" style="display: none;">
							<ul>
								<li onclick="confirmDeleteEpic()">Delete Epic</li>
							</ul>
						</div>
						<div>
							<input type="text" id="epicInputWrapper" name="Name" class="form-control" placeholder="Enter new epic name" onkeypress="handleEpicKeyPress(event)" />
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<!-- cập nhật trường Status của issue ở giao diện ngoài -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!-- Create Sprint Modal -->
<div class="modal fade" id="createSprintModal" tabindex="-1" aria-labelledby="createSprintModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createSprintModalLabel">Create Sprint</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- Form để tạo Sprint -->
				<form id="createSprintForm" method="post" asp-area="Admin" asp-action="Create" asp-controller="Sprints">
					<div class="mb-3">
						<label for="sprintName" class="form-label">Sprint Name</label>
						<input type="text" class="form-control" id="sprintName" name="Name">
					</div>

					<div class="mb-3">
						<label for="weekSelect" class="form-label">Weeks</label>
						<select class="form-select" id="weekSelect" name="weekSelect" onchange="handleWeekSelect()">
							<option value="1">1 Week</option>
							<option value="2">2 Weeks</option>
							<option value="3">3 Weeks</option>
							<option value="4">4 Weeks</option>
							<option value="custom">Custom</option>
						</select>
					</div>

					<div class="mb-3">
						<label for="startDate" class="form-label">Start Date</label>
						<input type="date" class="form-control" id="startDate" name="StartDate">
					</div>
					<div class="mb-3">
						<label for="endDate" class="form-label">End Date</label>
						<input type="date" class="form-control" id="endDate" name="EndDate">
					</div>

					<button type="submit" class="btn btn-primary">Create</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Modal popup để chỉnh sửa issue -->
<div class="modal fade" id="editIssueModal" tabindex="-1" role="dialog" aria-labelledby="editIssueModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="width: 600px;">
			<div class="modal-header">
				<h5 class="modal-title" id="editIssueModalLabel">Edit Issue</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- Form để chỉnh sửa issue -->
				<form id="editIssueForm">
					<div class="row g-3 align-items-center">
						<!-- type, name, epic, status -->
						<div class="col-md-2">
							<button id="newSelectedItemButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
								<span id="selectedIcon" style="display: inline-block;"></span>
							</button>

							<!-- Menu dropdown -->
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="#" onclick="updateIssueType('Task', '#1a73e8', 'icofont-book-mark')" data-value="Task">
										<span style="display: inline-block; background-color: #1a73e8; padding: 3px; border-radius: 3px;">
											<i class="icofont-book-mark text-white" style="vertical-align: middle;"></i>
										</span> Task
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="#" onclick="updateIssueType('Bug', '#dc3545', 'icofont-bug')" data-value="Bug">
										<span style="display: inline-block; background-color: #dc3545; padding: 3px; border-radius: 3px;">
											<i class="icofont-bug text-white" style="vertical-align: middle;"></i>
										</span> Bug
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="#" onclick="updateIssueType('User story', '#ffc107', 'icofont-ui-messaging')" data-value="User story">
										<span style="display: inline-block; background-color: #ffc107; padding: 3px; border-radius: 3px;">
											<i class="icofont-ui-messaging text-white" style="vertical-align: middle;"></i>
										</span> User story
									</a>
								</li>
							</ul>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control" id="issueName" name="issueName" placeholder="Issue Name" onkeypress="handleKeyPress(event)">
						</div>
						<div class="col-md-3">
							<select class="form-select" id="epicDropdown" onchange="updateIssueEpic()">
								<option value="None">None</option>
								@foreach (var epic in ViewBag.ProjectEpics as List<Epics>)
								{
									<option value="@epic.Id">@epic.Name</option>
								}
							</select>
						</div>
						<div class="col-md-3">
							<select class="form-select" id="statusSelect" onchange="updateIssueStatus()">
								<option value="Todo">Todo</option>
								<option value="In Progress">In Progress</option>
								<option value="Completed">Completed</option>
							</select>
						</div>

						<!-- description -->
						<div class="col-md-10">
							<label class="form-label">Description</label>
							<textarea type="text" class="form-control" id="issueDescrtiption" name="issueDescrtiption"></textarea>
						</div>
						<div class="col-md-2" style="margin-top: 45px;">
							<button type="button" class="btn btn-success" style="width: 80px; margin-bottom: 5px;" onclick="updateIssueDescription()">Save</button><br>
							<button type="button" class="btn btn-danger" style="width: 80px;" onclick="cancelUpdate()">Cancel</button>
						</div>

						<!-- startdate endate -->
						<div class="col-md-6">
							<label for="issueStartDate" class="form-label">Start Date</label>
							<input type="date" class="form-control" id="issueStartDate" name="issueStartDate">
						</div>
						<div class="col-md-6">
							<label for="issueEndDate" class="form-label">End Date</label>
							<input type="date" class="form-control" id="issueEndDate" name="issueEndDate">
						</div>

						<!-- assignee, reporter, story point -->
						<div class="col-md-2 d-flex align-items-center justify-content-center">
							<label class="form-label">Assignee</label>
						</div>
						<div class="col-md-2">
							<span class="p-2 me-1" id="assigneeImageContainer">
								<img id="assigneeImage" style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover;" onclick="showAssigneeList()">
							</span>
						</div>
						<div class="col-md-2  d-flex align-items-center justify-content-center">
							<label>Reporter</label>
						</div>
						<div class="col-md-2">
							<span class="p-2 me-1">
								<img id="reporterImage" style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover;">
							</span>
						</div>
						<div class="col-md-2  d-flex align-items-center justify-content-center">
							<label>Story point</label>
						</div>
						<div class="col-md-2">
							<input type="number" class="form-control" id="issueStoryPoint" name="issueStoryPoint" min="0">
						</div>

						<!-- Sprint, prority -->
						<div class="col-md-2  d-flex align-items-center justify-content-center">
							<label class="form-label">Sprint</label>
						</div>
						<div class="col-md-4">
							<select class="form-select" id="sprintDropdown" onchange="updateIssueSprint()">

								@foreach (var sprint in ViewBag.ProjectSprints as List<Sprints>)
								{
									<option value="@sprint.Id">@sprint.Name</option>
								}
							</select>
						</div>
						<div class="col-md-2  d-flex align-items-center justify-content-center">
							<label class="form-label">Priority</label>
						</div>
						<div class="col-md-4">
							<select class="form-select" id="prioritySelect" onchange="updateIssuePriority()">
								<option value="Highest">Highest</option>
								<option value="High">High</option>
								<option value="Medium">Medium</option>
								<option value="Low">Low</option>
								<option value="Lowest">Lowest</option>
							</select>
						</div>

						<div class="row mt-2">
							<div class="col-md-2">Show:</div>
							<div class="col-md-2">
								<button type="button" class="btn btn-toggle" id="commentsToggle" onclick="toggleContent('comments')">Comments</button>

							</div>
							<div class="col-md-2">
								<button type="button" class="btn btn-toggle" id="historyToggle" onclick="toggleContent('history')">History</button>

							</div>
						</div>
						<div class="row" id="commentsContent" style="display: none;">
							<!-- Comment input -->
							<div class="col-md-12 mb-3">
								<textarea class="form-control" id="commentInput" rows="3" placeholder="Enter your comment"></textarea>
							</div>

							<!-- Save and Cancel buttons -->
							<div class="col-md-12 mb-3">
								<button type="button" class="btn btn-primary" onclick="saveComment()">Save</button>
								<button type="button" class="btn btn-secondary" onclick="cancelComment()">Cancel</button>
							</div>
						</div>
						<div class="row" id="historyContent" style="display: none;">
							<!-- Place your history content here -->
							<div class="col-md-12">
								<p>This is the history section.</p>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="assigneeModal" tabindex="-1" aria-labelledby="assigneeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="assigneeModalLabel">Select Assignee</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="assigneeList" class="list-group">
					@foreach (var user in ViewBag.ProjectTeamMembers)
					{
						<a onclick="updateAssignee('@user.userId')" class="list-group-item list-group-item-action d-flex align-items-center">
							<img src="@user.Image" class="rounded-circle me-3" alt="Avatar" width="50" height="50">
							<div>
								<h5 class="mb-0">@user.UserName</h5>
							</div>
						</a>
					}
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal popup chỉnh sửa sprint -->
<div class="modal fade" id="editSprintModal" tabindex="-1" aria-labelledby="editSprintModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editSprintModalLabel">Edit Sprint</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="editSprintForm" method="post" enctype="multipart/form-data">
					<input type="hidden" id="sprintIdInput" name="Id" />
					<div class="mb-3">
						<label for="sprintNameInput" class="form-label">Sprint Name</label>
						<input type="text" class="form-control" id="sprintNameInput" name="Name">
					</div>
					<div class="mb-3">
						<label for="startDateInput" class="form-label">Start Date</label>
						<input type="date" class="form-control" id="startDateInput" name="StartDate">
					</div>
					<div class="mb-3">
						<label for="endDateInput" class="form-label">End Date</label>
						<input type="date" class="form-control" id="endDateInput" name="EndDate">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="saveChangesBtn">Save changes</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>

<!-- Xác nhận xóa issue -->
<div id="confirmDeleteModal" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confirm Delete</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Are you sure you want to delete this issue?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button id="deleteIssueButton" type="button" class="btn btn-danger">Delete</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal popup for editing epic -->
<div class="modal" id="editEpicModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Edit Epic</h4>
				<button type="button" class="btn-close" onclick="closeEditModal()"></button>
			</div>

			<!-- Modal Body -->
			<div class="modal-body">
				<form id="editEpicForm">
					<div class="row g-3 align-items-center">
						<!-- name, color -->
						<div class="col-md-1">
							<label for="epicName" class="form-label">Name:</label>
						</div>
						<div class="col-md-2">
							<input type="text" class="form-control" id="epicName" name="epicName" onkeypress="epicHandleKeyPress(event)">
						</div>
						<div class="col-md-1">
							<label for="epicColor" class="form-label">Color:</label>
						</div>
						<div class="col-md-2">
							<input type="text" class="form-control" id="epicColor" name="epicColor" onkeypress="epicHandleColorKeyPress(event)">
						</div>
						<div class="col-md-2">
							<div id="epicColorDisplay" style="width: 30px; height: 30px; border: 1px solid #ccc;"></div>
						</div>
						<div class="col-md-2  d-flex align-items-center justify-content-center">
							<label>Reporter</label>
						</div>
						<div class="col-md-2">
							<span class="p-2 me-1">
								<img id="epicReporterImage" style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover;">
							</span>
						</div>

						<!-- description -->
						<div class="col-md-10">
							<label class="form-label">Description</label>
							<textarea type="text" class="form-control" id="epicDescrtiption" name="epicDescrtiption"></textarea>
						</div>
						<div class="col-md-2" style="margin-top: 45px;">
							<button type="button" class="btn btn-success" style="width: 80px; margin-bottom: 5px;" onclick="updateEpicDescription()">Save</button><br>
							<button type="button" class="btn btn-danger" style="width: 80px;" onclick="cancelEpicUpdate()">Cancel</button>
						</div>

						<!-- startdate endate -->
						<div class="col-md-6">
							<label for="epicStartDate" class="form-label">Start Date</label>
							<input type="date" class="form-control" id="epicStartDate" name="epicStartDate">
						</div>
						<div class="col-md-6">
							<label for="epicEndDate" class="form-label">End Date</label>
							<input type="date" class="form-control" id="epicEndDate" name="epicEndDate">
						</div>

						<!-- history -->
						<div class="row">
							<div class="col-md-2">Show:</div>
							<div class="col-md-2">
								<button type="button" class="btn btn-toggle" id="epicHistoryToggle" onclick="epicToggleContent('history')">History</button>
							</div>
						</div>

						<div class="row" id="epicHistoryContent" style="display: none;">
							<!-- Place your history content here -->
							<div class="col-md-12">
								<p>This is the history section.</p>
							</div>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>

<!-- Xác nhận xóa epic -->
<div id="confirmDeleteEpicModal" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confirm Delete</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Are you sure you want to delete this epic?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button id="deleteEpicButton" type="button" class="btn btn-danger">Delete</button>
			</div>
		</div>
	</div>
</div>


<script src="~/js/sprint_script.js"></script>