@model IPagedList<ProjectManagement.Models.ApplicationUser>
@inject ApplicationDbContext _context
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	var roles = _context.Roles.ToList();
}

<div class="body d-flex py-lg-3 py-md-2">
	<div class="container-xxl">
		<div class="row clearfix">
			<div class="col-md-12">
				<div class="card border-0 mb-4 no-bg">
					<div class="card-header py-3 px-0 d-sm-flex align-items-center  justify-content-between border-bottom">
						<h3 class=" fw-bold flex-fill mb-0 mt-sm-0">Employee</h3>
					</div>
				</div>
			</div>
		</div><!-- Row End -->

		<div class="row align-item-center">
			<div class="col-md-12">
				<div class="card mb-3">
					<div class="card-body">
						<div id="employeesContainer">
							<table id="patient-table" class="table table-hover align-middle mb-0" style="width: 100%;">
								<thead>
									<tr>
										<th>#</th>
										<th>Avatar</th>
										<th>Last login</th>
										<th>Role</th>
										<th>Active</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									@{
										int stt = 1;
									}
									@foreach (var employee in Model)
									{
										<tr data-employee-id="@employee.Id">
											<td>@stt</td>
											<td><img src="@employee.Image" class="avatar sm rounded-circle me-2" alt="profile-image"><span>@employee.UserName </span></td>
											<td>@employee.LastLogin</td>
											<td>
												<div class="d-flex py-2 project-tab flex-wrap w-sm-100">
													<ul class="nav nav-tabs tab-body-header rounded ms-3 prtab-set w-sm-100" style="cursor: pointer;">
														@{
															string getUserRole = _context.UserRoles.FirstOrDefault(u => u.UserId == employee.Id).RoleId;
															if (getUserRole == "c9d5bded-4289-4c3a-9e49-960b6f0f6d68") //role: User
															{
																<li class="nav-item"><a class="nav-link active">Member</a></li>
																<li class="nav-item"><a class="nav-link" onclick="updateUserRole('@employee.Id', '6a2c6e95-a72b-4ee7-8ca1-e4759097769a')">Admin</a></li>
															}
															else
															{
																<li class="nav-item"><a class="nav-link" onclick="updateUserRole('@employee.Id', 'c9d5bded-4289-4c3a-9e49-960b6f0f6d68')">Member</a></li>
																<li class="nav-item"><a class="nav-link active">Admin</a></li>
															}
														}
													</ul>
												</div>
											</td>
											<td>
												<div class="form-check form-switch">
													@if (employee.IsActive)
													{
														<input class="form-check-input" type="checkbox" id="list-group2" checked="">
													}
													else
													{
														<input class="form-check-input" type="checkbox" id="list-group2">
													}	
												</div>
											</td>
											<td>
												<a class="btn btn-outline-info" asp-area="Admin" asp-controller="Employees" asp-action="EmployeeDetails" asp-route-id="@employee.Id">Detail</a>
											</td>
										</tr>
										stt++;
									}
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="pagination-container d-flex justify-content-end mr-5">
			<nav aria-label="Page navigation">
				<ul class="pagination">

					@if (Model.HasPreviousPage)
					{
						<li class="page-item">
							<a class="page-link text-danger" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
						</li>
					}

					@for (var i = 1; i <= Model.PageCount; i++)
					{
						<li class="page-item @(i == Model.PageNumber ? "active" : "")">
							<a class="page-link text-danger" href="@Url.Action("Index", new { page = i })">@i</a>
						</li>
					}

					@if (Model.HasNextPage)
					{
						<li class="page-item">
							<a class="page-link text-danger" href="@Url.Action("Index", new { page = Model.PageNumber + 1 })" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
						</li>
					}
				</ul>
			</nav>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="confirmationModalLabel">Xác nhận thay đổi quyền truy cập</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Bạn có chắc chắn muốn thay đổi quyền truy cập của người dùng không?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-primary" id="confirmBtn">Xác nhận</button>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/employees_script.js"></script>
